@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
  font-size: 16px; /* Default font size */
}

/* Responsive font sizes */
@media (max-width: 767px) {
  body {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 18px; /* Adjust font size for medium-sized screens */
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 20px; /* Adjust font size for larger screens */
  }
}
